<% layout('layouts/boilerplate')%>
<div id="map" style="width: 100%; height: 500px;"></div>

<h1>All Hotelgrounds</h1>
<div>
    <a href="/hotelgrounds/new">Add Hotelground</a>
</div>
<% for (let hotelground of hotelgrounds){%>
<div class="card" mb-3>
    <div class="row">
        <div class="col-md-4">
            <% if(hotelground.image.length) {%>
            <img class="img-fluid" alt="" src="<%=hotelground.image[0].url%>">
            <% } else { %>
                <img class="img-fluid" alt="" src="">
            <% } %>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= hotelground.title %> </h5>
                <h5 class="card-title"><%= hotelground.properties.popupmarkup %> </h5>
                <p class="card-text"><%= hotelground.description %></p>
                <p class="card-text">
                    <small class="text-muted"><%= hotelground.location%></small>
                </p>
                <a class="btn btn-primary" href="/hotelgrounds/<%=hotelground._id%>">View <%=hotelground.title%></a>
            </div>
        </div>
    </div>
</div>
<% }%>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const hotelgrounds = {features: <%-JSON.stringify(hotelgrounds)%> }
</script>
<script src="/javascripts/clusterMap.js"></script>